.bikes {
  justify-items: center;
  margin-bottom: 92px;

  &__container {
    @include page-grid;

    row-gap: 40px;
  }

  &__card {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &-img {
      height: 228px;
      background-position: bottom;

      @include hover(transform, scale(1.05));

      &--1 {
        background-image: url(../images/bikes/bike_1.webp);
      }

      &--2 {
        background-image: url(../images/bikes/bike_2.webp);
      }

      &--3 {
        background-image: url(../images/bikes/bike_3.webp);
      }

      &--4 {
        background-image: url(../images/bikes/bike_4.webp);
      }
    }
  }
}
