.free {
  font-weight: 500;
  margin-bottom: 92px;

  @include page-grid;

  &__content {
    grid-column: span 2;
    font-size: 23px;
    letter-spacing: 0;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
