.icon {
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.1));
  @include no-hover-on-touch-icons;

  &-phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &-menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }

    @include no-hover-on-touch-icons;
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}

.logo {
  display: flex;

  &__img {
    height: 38px;

    @include hover(transform, scale(1.1));
    @include no-hover-on-touch-icons;

    @include on-tablet {
      height: 56px;
    }
  }
}
