.menu {
  z-index: 20;

  @include header-padding;

  height: 100vh;
  background-color: $color-gray;
  font-weight: 600;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: all 0.3s ease;
  transform: translateX(-100%);
  pointer-events: none;

  &--open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 44px;
    }

    @include on-desktop {
      margin-bottom: 60px;
    }
  }

  &__content {
    font-weight: 600;
    color: $color-dark;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__list {
    gap: 32px;
  }

  &__link {
    &::after {
      margin-bottom: -8px;
      background-color: $color-dark;
    }
  }

  &__phone-number {
    display: block;
    color: inherit;

    margin-bottom: 16px;
  }

  &__book-test-ride {
    display: block;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    width: fit-content;
    color: inherit;
    text-transform: uppercase;

    border-bottom: 1px solid $color-dark;
  }
}
