@import 'blocks/fonts';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/reset';
@import 'utils/components';
@import 'blocks/header';
@import 'blocks/icons';
@import 'blocks/menu';
@import 'blocks/nav';
@import 'blocks/page';
@import 'blocks/main-page';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/sections/free';
@import 'blocks/sections/bikes';
@import 'blocks/sections/details';
@import 'blocks/sections/contacts';
