.button {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: var(--font-primary);
  color: var(--font-secondary);
  border-radius: 40px;
  border: 1px solid var(--font-primary);
  transition: all 0.2s ease;

  &:hover {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
  }

  &:active {
    -webkit-box-shadow: var(--shadow-active);
    box-shadow: var(--shadow-active);
  }

  @include no-hover-on-touch;
}

.no-wrap-text {
  white-space: nowrap;
}

.title {
  &-sections {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;
    grid-column: span 2;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;
    }
  }

  &-free {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 32px;
    line-height: 100%;
    font-size: 32px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      grid-column: span 3;
    }

    @include on-desktop {
      font-size: 64px;
      grid-column: span 5;
    }
  }

  &-contacts {
    @include on-desktop {
      font-size: 48px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 32px;
  }

  &__title {
    @include content-title-fonts;
  }

  &__description {
    @include content-description-fonts;

    margin-bottom: 16px;
  }

  &__price {
    width: 100%;

    &-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      margin-top: auto;

      @include on-desktop {
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
