:root {
  --bg-page: #1d1d1d;
  --bg-form: #f8f8fa;
  --bg-header: #1d1d1d;
  --bg-header-top: rgba(29, 29, 29, 0.9);
  --bg-dropdown: rgba(182, 181, 174, 0.5);
  --bg-compare: rgba(29, 29, 29, 0.9);
  --border-form: #d5d7de;
  --font-primary: #fff;
  --font-secondary: #1d1d1d;
  --font-contacts: #cecece;
  --placeholder: #7e7e83;
  --shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
  --shadow-active: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
}

$color-dark: #1d1d1d;
$color-light: #b6b5ae;
$color-white: #fff;
$color-gray: #c2c2c2;
$color-input: #292929;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$compare-column-gap: 20px;
$details-min-height: 375px;
